<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44339" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 20MB -->
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
  <httpErrors errorMode="Custom" existingResponse="Replace">
    <remove statusCode="404" subStatusCode="13"/>
    <!--responseMode="ExecuteURL" means that the path URL is server related URL-->
    <error statusCode="404" subStatusCode="13" responseMode="Redirect" path="/Error/FileUploadLimitExceeded"/>
    <remove statusCode="404"/>
    <error statusCode="404" responseMode="ExecuteURL" path="/Error/PageNotFound"/>
    <remove statusCode="500"/>
    <error statusCode="500" responseMode="ExecuteURL" path="/Error/InternalServerError"/>
  </httpErrors>
  </system.webServer>
</configuration>