@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-8">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Username" class="col-md-3"></label>
                <input asp-for="Username" class="form-control col-md-9" disabled />
            </div>
            <div class="form-group row">
                <label asp-for="Input.Email" class="col-md-3"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group col-md-9">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control col-md-9" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link col-md-9">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.PhoneNumber" class="col-md-3"></label>
                <input asp-for="Input.PhoneNumber" class="form-control col-md-9" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.FirstName" class="col-md-3"></label>
                <input asp-for="Input.FirstName" class="form-control col-md-9" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.LastName" class="col-md-3"></label>
                <input asp-for="Input.LastName" class="form-control col-md-9" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.DateOfBirth" class="col-md-3"></label>
                <input asp-for="Input.DateOfBirth" class="form-control col-md-9" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.Address.AddressLine1" class="col-md-3"></label>
                <input asp-for="Input.Address.AddressLine1" class="form-control col-md-9" />
                <span asp-validation-for="Input.Address.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.Address.AddressLine2" class="col-md-3"></label>
                <input asp-for="Input.Address.AddressLine2" class="form-control col-md-9" />
                <span asp-validation-for="Input.Address.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.Address.Town" class="col-md-3"></label>
                <input asp-for="Input.Address.Town" class="form-control col-md-9" />
                <span asp-validation-for="Input.Address.Town" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.Address.County" class="col-md-3"></label>
                <input asp-for="Input.Address.County" class="form-control col-md-9" />
                <span asp-validation-for="Input.Address.County" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Input.Address.Postcode" class="col-md-3"></label>
                <input asp-for="Input.Address.Postcode" class="form-control col-md-9" />
                <span asp-validation-for="Input.Address.Postcode" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}